.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff; /* Arka plan rengi */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Her şeyin üstünde dursun */
    transition: opacity 0.5s ease-out; /* Kaybolurken yumuşak geçiş */
}

.splash-content {
    text-align: center;
    color: #2c3e50;
}

.logo-container h1 {
    font-size: 2.5rem;
    color: #e74c3c; /* Eczane kırmızısı */
    margin-bottom: 10px;
}

/* Dönen Spinner Animasyonu */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #e74c3c; /* Dönme rengi */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}